<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <div class="checkers-board">
            <div class="row">
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
            </div>
            <div class="row">
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token ai"></div></div>
            </div>
            <div class="row">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
            </div>
            <div class="row">
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
                <div class="cell"><div class="token player"></div></div>
                <div class="cell"></div>
            </div>
        </div>
    </div>
</body>
</html>